.App {
    text-align: center;
    position: relative;
}

.generate-button {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    outline: none;
    border-radius: 10px;
}

.time-interval-container {
    position: absolute;
    top: 0;
    right: 15px;
}

.time-interval {
    font-size: 18px;
    width: 40px;
}

.chord-display {
    margin-top: 25px;
    font-size: 40px;
    font-weight: bold;
}

.chord-display span {
    display: inline-block;
    margin-left: 20px;
}
